<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\NLog.Extension.RabbitMQ.Examples.WebApi-Internal-NLog.txt">
    <extensions>
        <!-- Enable RabbitMQ Target -->
        <add assembly="NLog.Extension.RabbitMQ.Target" />
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Extension.RabbitMQ.Examples.WebApi" />
    </extensions>
    <!-- the targets to write to -->
    <targets>
        <target name="logstash"
                xsi:type="RabbitMQ"
                username="elastic"
                password="changeme"
                routingkey="ApplicationLog"
                virtualhost="Enterprise Log">
            <layout xsi:type="JsonLayout">
                <attribute name="date" layout="${date:format=date:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
                <attribute name="eventId" layout="${event-properties:item=EventId_Id}" />
                <attribute name="caller" layout="${callsite}" />
                <attribute name="level" layout="${uppercase:${level}}" />
                <attribute name="orderId" layout="${event-properties:orderid}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
                <attribute name="message" layout="${message}" />
                <attribute name="url" layout="${aspnet-request-url}" />
                <attribute name="machineName" layout="${local-machine}" />
                <attribute name="action" layout="${aspnet-mvc-action}" />
                <attribute name="identity" layout="${identity}" />
                <attribute name="processid" layout="${processid}" />
                <attribute name="threadid" layout="${threadid}" />
            </layout>
        </target>
    </targets>
    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="Microsoft.Hosting.Lifetime.*" minlevel="Info" writeTo="logStash" />
        <logger name="Microsoft.*" minlevel="Trace" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Info" writeTo=" logstash" />
    </rules>
</nlog>